<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Chiro.CiviCrm.Wcf.Example.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="MyBindingConfiguration">
          <security mode="None"/>
          <!-- IMPORTANT: None voor http, Transport voor https (recommended) -->
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <!-- don't give the endpoint a name if you want to use ServiceHelper. -->
      <endpoint address="http://192.168.124.1/dev2/sites/all/modules/civicrm/extern/rest.php" binding="webHttpBinding" bindingConfiguration="MyBindingConfiguration" behaviorConfiguration="civiCrm" contract="Chiro.CiviCrm.Api.ICiviCrmApi"/>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="civiCrm">
          <myWebHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <!-- In the line below, the part 'Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' is NECESSARY -->
        <add name="myWebHttp" type="Chiro.CiviCrm.BehaviorExtension.MyWebHttpBehaviorExtensionElement, Chiro.CiviCrm.BehaviorExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><applicationSettings>
    <Chiro.CiviCrm.Wcf.Example.Properties.Settings>
      <setting name="SiteKey" serializeAs="String">
        <value>462e033f1b3495d094f401d89772ba5b</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value>blablablapi</value>
      </setting>
    </Chiro.CiviCrm.Wcf.Example.Properties.Settings>
  </applicationSettings>
</configuration>
